@charset "utf-8";

body{
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color:#E2E2E2;
    width: 100%;
    margin: 0px;
    padding: 0px;
}



.header{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.header-logo{
    margin:0;
}
.header-logo > a{
    display: block;
}
/* .header-nav{

} */
.header-navlist{
    list-style:none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .header-navitem{

} */
.header-navitem > a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: borde-color .25s;
}
.header-navitem > a:hover{
    border-bottom: 2px solid #333;

}
/*section*/
.section{
    padding: 30px 15px;
}
.section.section-secounday{
    background: #f10606;
}

.section-headline{
    width: 70%;
    height: 100%;
    font-size: 50px;
    margin:  2em auto 0;
}
/* member */
.member-section {
    padding: 30px 15px;
}
.member-grade{
    width: 70%;
    height: 100%;
    font-size: 40px;
    margin:  0 auto;
}
/* カードレイアウト部分をラッピングし、
Flexboxを指定"space-between"で各アイテムを均等に配置し、
最初と最後のアイテムを端に寄せます。*/
#cardlayout-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin: 2em auto;
    max-width: 940px;
    width: 70%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/* リンクテキストの下線を非表示 */
a.card-link {
    text-decoration: none;
}

/* カードレイアウト内の画像を幅いっぱいに表示 */
#cardlayout-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-figure {
    margin: 0;
    padding: 0;
}

/* カードレイアウトのタイトル部分 */
.card-title {
    margin: 0.6em 0 0;
    color: #333;
    text-align: center;
    font-size: 20px;
}

/* カードレイアウトを1カラムで配置 */
.card-list {
    margin: 0.5em auto;
    padding: 0;
    width: 96%;
    background: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* 画面幅768px以上の場合カードレイアウトを2カラムで配置 */
@media all and (min-width: 768px) {
    .card-list {
        margin: 0.5em 0;
        width: calc(96% / 2); /* 96%幅を2で割るという指定 */
    }
}

/* 画面幅992px以上の場合カードレイアウトを3カラムで配置 */
@media all and (min-width: 992px) {
    .card-list {
        width: calc(96% / 5); /* 96%幅を3で割るという指定 */
}
    
/* 最後の行が3列より少ない場合左寄せにレイアウトさせる */
    #cardlayout-wrap::after{
        content: "";
        display: block;
        width: calc(96% / 2);
    }
}

/* footer */
.footer{
    background-color: #333;
    color: #fff;
}
.footer-map{
    margin: 0;
    padding: 40px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-map >iframe{
    width: 60%;
}
.footer-mapinfo{
    width: 40%;
    padding: 25px;
}
.footer-maplogo{
    font-size: 25px;
    font-weight: bold;
}
.footer-mapaddress{
    font-style: normal
}
.footer-mapaddress > a{
    color: #fff;
}
.footer-line{
    border-color: #444;
}
.footer-copy{
    display: block;
    text-align: center;
}
