@charset "utf-8";

body{
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color:#E2E2E2;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 5000px;
}

/*section*/
.section{
    padding: 30px 15px;
}
.section.section-secounday{
    background: #f10606;
}

.section-headline{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 40px;
}


/*about*/
.about{
    top: 1255px;
    left: 400px;
    width: 1120px;
    height: 480px;
    background-color: #ffffff;
}

/*about-caption*/
.about-caption{
    padding-left: 15px;
}
/*about-hedline*/
.about-hedline{
    margin: 0 0 20px;
    font-size: 30px;
}